li {
    display: inline;
    float: right;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    color: white;
}
li a {
    display: block;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}
li a:hover {
    background-color: #9C8A65;
    
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: block;
  }

  .abme {
      text-align: justify;
      padding-left: 10px;
      padding-right: 10px;

  }

  .bttn {
      border-radius: 800px;
      color:darkblue;
  }

  #div1 {
      float: left;
      width: 50%;
      display: block;

  }

  #div2 {
    float: right;
    width: 50%;
    display: block;

}

 #centerh3{
     text-align: center;
     
 }

 .centerImg {
    border: 2px solid black; 
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: fill;
    display: block;
    overflow: hidden;
  }

  #logo {
      float: left;
  }
 
  #skills {
    padding: 5px;
 }

 footer {
     background-color:#9C8A65;
     
 }